*

!/.cade
!/.editorconfig
!/.gitignore
!/.rustfmt.toml
!/.taplo.toml
!/LICENSE
!/README.md
!/flake.lock
!/flake.nix

!/nix/
!/nix/**
!/plugins/
!/plugins/**
!/scripts/
!/scripts/**

target/
*.msgpackz
